@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 arial,tahoma,\5b8b\4f53;}
body{background:#f0f0f0;color:#666;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i{font-style:normal;}
fieldset,img{border:0;}
ul,ol,li{list-style:none;}
button,input,select,textarea{font-size:100%;outline:none}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#333;text-decoration:none;outline:none;}
a:hover{color:#F60;text-decoration:underline;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.clear{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
.hide{display:none;}
img.err-product{background:url(images/blankbg.gif?v=2015012101) no-repeat 50% 50%;}
.lazy-loading{background:url(images/blankbg.gif?v=2015012101) no-repeat 50% 50%;}
.wrapper{width:990px;min-width:990px;margin:0 auto;clear:both;}
.g-toolbar, .g-footer, .g-header{width:100%;min-width:990px;}
.l{float:left;}
.r{float:right;}
.mt10{margin-top:10px!important;}
.mr10{margin-right:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.tl{text-align:center;}
